In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [7]:
titanic = sns.load_dataset('dataset/titanic')
titanic.shape
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [8]:
titanic = titanic[['survived', 'pclass', 'sex', 'age']]
titanic.dropna(axis=0, inplace=True)
titanic['sex'].replace(['male', 'female'], [0, 1], inplace=True)
titanic.head()

   survived  pclass  sex   age
0         0       3    0  22.0
1         1       1    1  38.0
2         1       3    1  26.0
3         1       1    1  35.0
4         0       3    0  35.0

In [9]:
from sklearn.neighbors import KNeighborsClassifier

In [10]:
model = KNeighborsClassifier(n_neighbors=5)

In [11]:
y = titanic['survived']
X = titanic.drop('survived', 1)

In [12]:
model.fit(X, y)
model.score(X, y)

0.8319327731092437

In [13]:
def survive(model, pclass=3, sex=0, age=22):
    x = np.array([pclass, sex, age]).reshape(1, 3)
    print(model.predict(x))
    print(model.predict_proba(x))

In [14]:
survive(model)

[0]
[[1. 0.]]

In [15]:
def search_neighbors(n=10):
    max_score = (0, 0)
    for i in range(1, n):
        model = KNeighborsClassifier(n_neighbors=i)
        model.fit(X, y)
        score = model.score(X, y)
        if max_score[0] < score:
            max_score = (score, i)
    return max_score

In [18]:
print(search_neighbors())

(0.8585434173669467, 2)